.list {
  height: auto;
  min-height: 745px;
  width: 230px;
  background-image: linear-gradient(
    rgba(22, 219, 101, 1),
    rgba(158, 240, 26, 1) 75%
  );
  text-align: center;
}
.content {
  height: auto;
  min-height: 745px;
}
.avamini {
  width: 50px;
  height: 50px;
  border-radius: 10px;

  z-index: 2;
}
.but {
  /* opacity: 0; */
  border: none;
  background-color: white;
  position: relative;
  top: 18px;
  left: 1175px;
}
.dropava {
  border: 1px solid black;
  /* height: 155px; */
  width: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  z-index: 5;
  background-color: white;
  position: absolute;
  top: 62px;
  left: -50px;
  border-radius: 10px;
  padding: 5px 0px 5px 0px;
}
.dropava0 {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.dropava0:hover {
  background-color: rgba(153, 239, 169, 0.33);
  cursor: pointer;
}
.avamini1 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.title {
  height: 100px;
  width: 1265px;
}
.title1 {
  position: absolute;
  left: 255px;
  top: 45px;
  font-size: 40px;
  font-weight: 600;
}
.text {
  margin-left: 26px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
.find {
  width: 370px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid rgba(196, 196, 196, 1);
}
.find1 {
  width: 310px;
  height: 48px;
  padding-left: 10px;
  border-color: rgba(196, 196, 196, 1);
  border: none;
  border-bottom: 1px solid #ccc;
}
/* find button */
:focus {
  outline: none;
}
.col1 {
  float: left;
  width: 350px;
  position: relative;
}
.find1 ~ .focusborder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(153, 239, 169, 1);
  transition: 0.4s;
}
.find1:focus ~ .focusborder {
  width: 100%;
  transition: 0.4s;
}
input.find1 {
  outline: none;
}
.find21 {
  height: 38px;
  width: 44px;
  padding: 10px 10px 0px 5px;
  text-align: center;
  cursor: pointer;
}
.find2 {
  height: 25px;
  width: 25px;
}
.tablerecru {
  margin-top: 30px;
}
.tablerecruitem,
.td2,
.td3,
.th,
.td4,
.td5,
.td6 {
  text-align: center;
  border: 0.5px solid rgba(217, 217, 217, 1);
  border-collapse: collapse;
}
.th {
  background-color: rgba(153, 239, 169, 1);
}
.tr,
.tr1 {
  height: 60px;
}
.tr1:hover {
  background-color: rgba(153, 239, 169, 0.33);
  cursor: pointer;
}
.td2 {
  /* width: 74px; */
}
.con1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 350px;
}
.td3 {
  /* width: 430px; */
  text-align: left;
  padding-left: 10px;
}
.td3:hover {
  /* color: red; */
  text-decoration: underline;
}
.td4 {
  /* width: 210px; */
}
.td5 {
  /* width: 180px; */
}
.td6 {
  height: auto;
  padding: 9.5px 0px 9.5px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.td6:hover {
  background-color: white;
}
.butedit {
  clip-path: circle(50%);
  height: 40px;
  width: 40px;
  align-items: center;
  justify-items: center;
  border: none;
  padding: 0px;
  background-color: rgba(153, 239, 169, 0.3);
}
.butedit:hover {
  background-color: rgba(153, 239, 169, 0.7);
}
.butdelete {
  clip-path: circle(50%);
  height: 40px;
  width: 40px;
  align-items: center;
  justify-items: center;
  border: none;
  padding: 0px;
  margin-left: 15px;
  background-color: rgba(238, 16, 16, 0.3);
}
.butdelete:hover {
  background-color: rgba(238, 16, 16, 0.6);
  cursor: pointer;
}
.btntd {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.btntd:hover {
  text-decoration: underline;
}
.newpage {
  width: 400px;
  height: auto;
  /* position: absolute;
  right: 50px; */
  margin-left: 800px;
  margin-top: 15px;
}
.droptable {
  border: 1px solid black;
  /* height: 155px; */
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  z-index: 5;
  background-color: white;
  position: absolute;
  /* top: 62px; */
  right: 30px;
  border-radius: 10px;
  padding: 5px 0px 5px 0px;
  z-index: 2;
}
.droptable0 {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 15px;
}
.droptable0:hover {
  background-color: rgba(153, 239, 169, 0.33);
  cursor: pointer;
}
.tablemini1 {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.tablemini2 {
  /* clip-path: circle(50%); */
  width: 20px;
  height: 20px;
  /* margin-left: 10px; */
}
